*{
    border-radius:0.7em;
}
body{
    background: #fec89a;
}

ul{
 list-style: none;
}

#user{
    list-style: none;
}
/* NAV Categories*/
nav{
    background: #ffd7ba;
}

nav ul{
    list-style: none;
    list-style-type: none;
    //background: red;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

nav ul li{
    list-style: none;
    padding: 0.4em;
    margin: 0.7em;
}

nav li a {
    list-style: none;
    background-color: #6d6875;
    color: white;
    padding: 15px 30px;
    font-weight: bolder;
    font-size: 16px;
    text-decoration: none;

}
/*menu usuari*/
#desplegable{
    //visibility: hidden;
    display: none;

}


#title{
    display: inline-flex;
    background: #ffd7ba;
    width: 100%;
    height: 8em;
    justify-content: space-around;
}
#buttons-user{
    display: grid;
}
#buttons-user button{
    width: 9em;
}

#container-products{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

#container-products h3{
    width: 30em;
}
#container-products img{
    width: 20em;
    margin-left: 5em;
}
#container-products img{
    width: 20em;
    display: block;
    margin: auto;

}

#container-products div {
    padding: 0.3em;
    margin: 0.7em;
    background: #ffeaa7;
    justify-content: center;

}

form{
    width:300px;
    padding:16px;
    border-radius:10px;
    margin:auto;
    background-color: #fcdbc6;
    border: 2px solid black;
}

form label{
    width:72px;
    font-weight:bold;
    display:inline-block;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    width:180px;
    padding:3px 10px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    display:inline-block;
}

form input[type="submit"]{
    width:100%;
    padding:8px 16px;
    margin-top:32px;
    border:1px solid #000;
    border-radius:5px;
    display:block;
    color:#fff;
    background-color:#000;
}

form input[type="submit"]:hover{
    cursor:pointer;
}

textarea{
    width:100%;
    height:100px;
    border:1px solid #f6f6f6;
    border-radius:3px;
    background-color:#f6f6f6;
    margin:8px 0;
    /*resize: vertical | horizontal | none | both*/
    resize:none;
    display:block;
}
#hide{
    //opacity: 0;
}
/*One product */

#container-one-product{
    display: grid;
    grid-template-areas: 'productTitle productTitle'
                            'imgProduct detailProduct';
    grid-column-gap: 5px;
    grid-row-gap: 5px;
 }

#img-product{
    grid-area : imgProduct;
}

#detail-product{
    grid-area: detailProduct;
}
#product-title{
    grid-area: productTitle;
}

/* resum cart*/

#cart-container{
    margin-top: 1em;
    padding: 1em;
    background: #ffd7ba;
}

/* list comanda*/

.shopping-list{
    background: #ffeaa7;
    padding: 0.7em;
}